@using InventorySystem.Models.DataEntities
@model Item

<div class="d-block mt-1">

    <dl class="d-flex mb-0">
        <div class="d-block category-container w-50">
            <dt class="col-sm-2 status-header align-items-center">
                @Html.DisplayNameFor(model => model.Category)
            </dt>
            @if (!string.IsNullOrEmpty(Model.Category))
            {
                <dd id="item-category" class="col-sm-2 status-body mt-0 w-35">
                    @Html.DisplayFor(model => model.Category)
                </dd>
            }
            else
            {
                <dd id="item-category" class="col-sm-2 status-body mt-0 w-30">
                    --
                </dd>
            }
        </div>

        <div class="d-block mt-0 mb-0 w-50">
            <dt class="col-sm-2 status-header align-items-center">
                @Html.DisplayName("Status")
            </dt>
            @if (!string.IsNullOrEmpty(Model.Status))
            {
                <dd id="item-status" class="col-sm-2 status-body mt-0 mb-0 w-40">
                    @Html.DisplayFor(model => model.Status)
                </dd>
            }
            else
            {
                <dd id="item-status" class="col-sm-2 status-body mt-0 mb-0 w-40">
                    --
                </dd>
            }
        </div>

    </dl>


    <dl class="d-flex">
        <div class="d-block date-container w-50">
            <dt class="row-sm-2 date-header">
                @Html.DisplayNameFor(model => model.ItemDateAdded)
            </dt>
            <dd class="row-sm-2 text-break date-body">
                @Html.DisplayFor(model => model.ItemDateAdded)
            </dd>

           
        </div>

        <div class ="d-block date-container w-50">
            <dt class="row-sm-2 date-header">
                @Html.DisplayNameFor(model => model.ItemDateUpdated)
            </dt>

            <dd class="row-sm-2 text-break date-body">
                @Html.DisplayFor(model => model.ItemDateUpdated)
            </dd>
        </div>
    </dl>

</div>