@model InventorySystem.Models.Item

@{
    ViewData["Title"] = "Confirm Delete";
    Layout = null;
}

<div>
    <h5 class="text-break"><strong>Are you sure you want to delete this item?</strong></h5>
    <hr />
    <div class="row">
        <dl>
            <dt class="col-sm-2" style="width:50%;">
                @Html.DisplayNameFor(model => model.ItemCode)
            </dt>
            <dd class="col-sm-10 text-break">
                @Html.DisplayFor(model => model.ItemCode)
            </dd>
            <dt class="col-sm-2" style="width:50%;">
                @Html.DisplayNameFor(model => model.ItemName)
            </dt>
            <dd class="col-sm-10 text-break">
                @Html.DisplayFor(model => model.ItemName)
            </dd>          
        </dl>

    </div>

    <hr class="mt-0"/>
    <form asp-action="delete" method="post" class="mt-4" id="delete-form" onsubmit="return jQueryAjaxPost(this);">
        <input type="hidden"  asp-route-id="@Model.ItemId"/>
        <input type="submit" value="Delete User" class="btn btn-danger form-control" />
        <input type="button" value="Cancel" class="btn btn-outline-secondary form-control mt-3 close-modalBtn" data-bs-dismiss="modal" />
    </form>
</div>





      